*.idea
*.idea/**
*.iml
*.ipr
target
*.project
*.classpath
*.iws
*.settings/**
*.log
*.log.gz
rebel.xml
**/dependency-reduced-pom.xml
src/site/markdown/events
src/site/markdown/speakers
src/site/markdown/sponsors
src/site/markdown/talks
src/site/markdown/teams

