# Event

## ${event.date} - ${event.title}

${event.description!}

<#if event.eventbrite??>
<div class="iframe_container">
<iframe  src='http://eventbrite.fr/tickets-external?eid=${event.eventbrite?replace("&", "&amp;")}' frameborder='0' height='450' width='100%' vspace='0' hspace='0' marginheight='5' marginwidth='5' scrolling='auto' allowtransparency='true'></iframe>
</div>
</#if>

<#if event.flickUrl??>
## Photos
<div class="iframe_container">
<iframe align='center' src='${event.flickUrl?replace("&", "&amp;")}' frameBorder='0' width='500' scrolling='no' height='500'></iframe>
</div>
</#if>

## Détails

### 19h15 à 19h30 : Accueil

<#list event.talksObject as talk>
### ${talk.startTime!} - ${talk.endTime!} : ${talk.title}

${talk.description}

par :

<#list talk.speakersObject as speaker>
* [${speaker.firstName} ${speaker.lastName}](${speaker.internalUrl})
</#list>
</#list>

