# Nos futures sessions

```
La plus part du temps nous construisons le planning sur un rythme de 3 mois, nous avos constater que malheureusement sur des horrizons plus lointain 
```

<#list events as event>

### ${event.date} - [${event.title}](${event.internalUrl})

<#list event.talksObject as talk>
* [${talk.title}](${talk.internalUrl})

</#list>

</#list>
