


# Nos précédentes sessions

```
Nos sessions sont enregistrées et diffusées sur youtube dans un délai de 1 à 3 semaines.
```


# Previous

<#list events as event>

## ${event.date} - [${event.title}](${event.internalUrl})

<#list event.talksObject as talk>
* [${talk.title}](${talk.internalUrl})
</#list>

</#list>
