


# Nos précédentes sessions

```
Nos sessions sont enregistrer et diffuser sur youtube dans un delais de 1 à 3 mois 
```


# Previous

<#list events as event>

## ${event.date} - [${event.title}](${event.internalUrl})

<#list event.talksObject as talk>
* [${talk.title}](${talk.internalUrl})
</#list>

</#list>
