


#### Speakers

```
Depuis, notre première session de nombreux speakers on partagé leurs connaissances avec nous.
Certains ont également démarré avec nous grâce au youngblood.
N'hésitez pas a nous contacter si vous voulez presenter un sujet chez nous.
```

<#list speakers as speaker>
<div class="col-lg-2">

<a href="${speaker.internalUrl}">${speaker.firstName} ${speaker.lastName}</a><br />

<#if speaker.photo??>
<img src="${speaker.photo?html}" class="speakers img" alt="${speaker.firstName} ${speaker.lastName}" />
<#else>
<img src="/images/juggy.png" class="speakers img" alt="Juggy" />
</#if>

</div>

</#list>