


#### Speakers

```
Depuis, notre premiere session de nombreux speakers on partagé leurs connaissance avec nous.
Certains on egalement demarrer chez nous grace au younblood.
N'hesitez pas a nous contacter si vous voulez presenter un sujet chez nous.
```

<#list speakers as speaker>

## [${speaker.firstName} ${speaker.lastName}](${speaker.internalUrl})


</#list>