


#### Speakers

```
Depuis, notre première session de nombreux speakers on partagé leurs connaissances avec nous.
Certains ont également démarré avec nous grâce au youngblood.
N'hésitez pas a nous contacter si vous voulez presenter un sujet chez nous.
```

<#list speakers as speaker>

## [${speaker.firstName} ${speaker.lastName}](${speaker.internalUrl})


</#list>