# Sponsors

<#list sponsors as sponsor>

## ${sponsor.name}

<#if sponsor.logo??>

![left-small](/images/sponsors/${sponsor.sponsoringyear?replace(",", "")}/${sponsor.logo?replace("&", "&amp;")})

</#if>

~~~
${sponsor.description!}
~~~

<#if sponsor.tweet??>
Twitter: [@${sponsor.tweet!}](http://twitter.com/${sponsor.tweet!})
</#if>

<#if sponsor.url??>
Url: [${sponsor.url?replace("&", "&amp;")}](${sponsor.url?replace("&", "&amp;")})
</#if>

<#if sponsor.type??>
Type: ${sponsor.type}
</#if>

</#list>

