<#if sponsors??>
<div class="container">

      
      <div class="jumbotron">
          <p>Les réunions du Paris Java User Group sont gratuites et ouvertes à tous. Pour que ces réunions soient de bonnes qualités, il nous arrive de faire venir des experts internationaux que nous devons défrayer et loger à Paris. </p>
          <p>De plus, le Paris JUG est gerrer par BJPC en loi 1901 indépendante de toute autre organisation ou organisme. Nous nous appuyons donc sur nos sponsors et leurs contributions généreuses pour faire vivre le JUG (conférences, repas-rencontres, hébergement du site, supports de communication...)</p>
          <p>Si vous êtes intéressés et que vous voulez sponsoriser d’une manière ou d’une autre le Paris JUG, <a href="mailto:team@parisjug.org">contactez-nous</a> afin de recevoir notre plaquette.</p>

      </div>

<br />

<#list sponsors as sponsor>

<div class="row">


<#if sponsor.type == "PLATINIUM" >
<div class="${sponsor.type!} title">Sponsor Platine : ${sponsor.name}</div>
</#if>

<#if sponsor.type == "GOLD" >
<div class="${sponsor.type!} title">Sponsor Gold : ${sponsor.name} </div>
</#if>

<#if sponsor.type == "PARTNER" >
<div class="${sponsor.type!} title">partenaire ${sponsor.name} </div>
</#if>

<div class="col-lg-4">


<#if sponsor.logo??>
  <#if sponsor.url??>
<a href="${sponsor.url?replace("&", "&amp;")}" target="_blanck"> 
<img class="${sponsor.type!} img" alt="${sponsor.name}" src="${APPLICATION_CONTEXT!}/images/sponsors/${sponsor.sponsoringyear}/${sponsor.logo?replace("&", "&amp;")}" />
</a>
 <#else>
<img class="${sponsor.type!} img" alt="${sponsor.name}" src="${APPLICATION_CONTEXT!}/images/sponsors/${sponsor.sponsoringyear}/${sponsor.logo?replace("&", "&amp;")}" />
 </#if>
</#if>
</div> <!-- class="col-lg-8" -->
<div class="col-lg-8">
<#if sponsor.description??>
<div class="${sponsor.type!} desc">

${sponsor.description!}

</div>
</#if>

</div> <!-- class="col-lg-8" -->
<div class="clearfix visible-xs"></div>
</div> <!-- class="row" -->
</#list>

</div>
</#if>
