# Talks

<#list talks as talk>

## ${talk.title}

${talk.date}

${talk.description!}

par :

<#list talk.speakersObject as speaker>
* [${speaker.firstName} ${speaker.lastName}](${speaker.internalUrl})
</#list>

</#list>
