{
    "title": {
        "media": {
          "url": "/images/timeline-start.jpg",
          "caption": "Avec le soutiens de nos sponsors",
          "credit": ""
        },
        "text": {
          "headline": "BJPC <br/> fournisseur de soirée depuis 2013 ",
          "text": "<p>Voici la liste des soirées ParisJUG</p>"
        }
    },
    "events": [
<#list talks as talk>
      {
        "media": {
<#if talk.youtubeVideoUrl??>
          "url": "${talk.youtubeVideoUrl}",
<#else>
          "url": "",
</#if>        
          "caption": "${talk.title?html}",
          "credit": ""
        },
        "start_date": {
          "month": "${talk.eventMonth?string["0"]}",
          "day": "${talk.eventDay?string["0"]}",
          "year": "${talk.eventYear?string["0"]}"
        },
        "text": {
          "headline": "${talk.title?html}",
<#if talk.description??>
          "text": "${talk.description?json_string}"
<#else>
          "text": ""
</#if>          
        }
<#if talk?has_next>
      },
<#else>
      }
</#if>          
</#list>
      ]
      }