/**
*
* Added specificatlly for the parisjug
*
*/

.PLATINIUM.title {
    border: gray;
    margin: auto;
    font-size: x-large;
    font-weight: bold;
    box-sizing: border-box;
    padding: 10px 10px 10px 20px;
    border: 1px solid gray;
    background-color: lightgrey;
}

.PLATINIUM {
    font-size: medium;
    margin: 7px 1px 3px 1px;
}

.img.PLATINIUM.img {
    height: 100px;
}
.img.PLATINIUM.desc {
    height: 200px;
    text-align: justify;
}

/** */
.GOLD.title {
    border: gray;
    margin: auto;
    font-size: medium;
    font-weight: bold;
    box-sizing: border-box;
    padding: 5px 5px 5px 10px;
    border: 1px solid gray;
    background-color: beige;
}

.img.GOLD.img {
    height: 80px;
}

.img.GOLD.desc {
    height: 160px;
    text-align: justify;
}
.GOLD {
    font-size: smaller;
    margin: 7px 1px 3px 1px;
}


/** */
.PARTNER.title {
    border: gray;
    margin: auto;
    font-size: medium;
    font-weight: bold;
    box-sizing: border-box;
    padding: 5px 5px 5px 10px;
    border: 1px solid gray;
    /**background-color: beige;*/
}

.img.PARTNER.img {
    height: 40px;
}
.img.PARTNER.desc {
    height: 60px;
    text-align: justify;
}

.PARTNER {
    font-size: smaller;
    margin: 7px 1px 3px 1px;
}

.poweredBy {
    height: 20px;
}

.speaker.img {
    height: 20px;
}
.speaker.desc {
    height: 20px;
    text-align: justify;
}

.team {
    height: 120px;
    width: 120px;
}

p.teamTitle {
    font-style: normal;
    font-size: 1.2em;
    font-weight: bold;
}

.talkTitle {
 font-size: x-large;
 font-weight: bold;
   
}

.img.speakers.img {
    height: 50px;
}